node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
screenshot.png
.DS_STORE
.cache/
.env
downloads/
# dist/ Todo: should be done in release script
evals/**/public
lib/dom/build/
evals/public
*.tgz
evals/playground.ts
tmp/
eval-summary.json
